*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    margin: 0;
}
/* Navbar */
nav{
    position: fixed;
    top: 0;
    width: 100%;
    background: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    z-index: 1000;
}
.logo{
    font-size: 22px;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 25px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 5px 10px;
}
#hero{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background: linear-gradient(135deg,#ff416c,#ff4b2b);
}
.hero-content h1{
    font-size: 48px;
}
.hero-content p{
    font-size: 20px;
    margin-top: 10px;
}
#about{
    padding: 100px 20px;
    background: #f4f4f4;
    text-align: center;
}
#about h2{
    font-size: 32px;
    margin-bottom: 20px;
}
#about p{
    max-width: 700px;
    margin: auto;
    font-size: 18px;
    line-height: 1.6;
    color: #333;
}